.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(img/astronaut-asteroids-blue-planet-space-travel-no-gravity-3840x2400-2484.jpeg);
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(img/astronaut-gargantua-3840x2400-10068.jpeg);
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(img/wormhole-astronaut-5200x3250-9640.jpeg);
}

.bg-img1,
.bg-img2,
.bg-img3 {
  height: 80vh;
  width: 100%;
}

.text-bg {
  display: inline-block;
  border-radius: 5px;
  /* padding-right: 15px; */
  background-image: linear-gradient(
    rgba(17, 17, 17, 0.5),
    rgba(17, 17, 17, 0.5)
  );
}
